/* ACTIVITES */

.actu {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}


.accordion-button {
    background-color: $main_color !important;
    font-size: 0.8em;
    font-weight: 600;
    color: white !important;
    margin-bottom: 0.5rem;
}



.accordion-body{
    padding: 0;
}





.barre-recherche {
    background-color: #0041AA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

}

nav>ul{
    display: none;
    background-color: #0041AA;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 30px;
    text-align: left;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
.r1, .r2, .r3{
    background-color: #0041AA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.ligne-rechercher{

    border-top: 6px solid white;
    width: 100%;

}

.r3 .fa-arrow-up {
    color:white;
    float: right;
    text-shadow: none;
    font-size:1.5rem;
}

.photo-jpo {
    width: 100%;
    border-radius: 70px;

}

.photo-activite {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.photo-activite h3 {
    color: #0041AA;
    text-shadow: 6px 6px 6px red;
    font-size: 3.75rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 8rem;
    left: 8rem;

}


.en-tete {
    display: flex;
    justify-content: space-between;
    font-family: 'Montesserat', sans-serif;
    font-size: 1.563rem;
    font-weight: 700;
    color: #0041AA;

}

.contenu-activite {
    color: #0041AA;
    font-family: 'Montesserat', sans-serif;
    font-size: 1.563rem;
    font-weight: 500;
    text-align: left;

}

.ligne {

    border-top: 6px solid #0041AA;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fa-arrow-up {
    color: #0041AA;
    font-size: 2.813rem;
    text-shadow: 6px 6px 6px red;
    font-weight: 700;
    float: right;

}