/* Nos formation */

.formation_container_image {
    transition: all 0.3s;
    // max-height: 25em;
    position: relative;
    overflow: hidden;

    max-width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }
    .formation_container_image__text {
        position: absolute;
        left: 0.5em;
        bottom: 0.3em;
        color: white;
        text-transform: capitalize;
        text-align: left;
        margin: 0;
        letter-spacing: 0.1em;
    }
    .formation_container_image__text h3 {
        font-size: 3.4em;

        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }
    .formation_container_image__text ul {
        list-style: none;
        font-size: 1.1em;
    }
}

section.bleu {
    background-color: $main_color;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.15) inset;
    padding: 2em;
}

.formation {
    width: 60%;
    margin: auto;
    transition: all 4s;
    max-height: 0em;
    overflow: clip;

    table tr {
        border-bottom: 2px solid rgb(45, 77, 182);
    }

    table {
        width: 100%;
    }

    table td {
        padding: 1em;
    }
}

h3.ombre {
    color: $main_color;
    font-weight: bold;
    text-shadow: 0px 4px 2px #cb1e1e;
    margin: 2em 0em;
}
.accordion-button {
    background-color: $main_color !important;
    font-size: 1.01em;

    .accordion-button * {
        color: white !important;
    }
}
.accordion-body {
    border-bottom: rgb(209, 23, 23) 3px solid;
    margin-bottom: 1em;
}

.open {
    font-size: 3em;
    background-color: $main_color;
    width: 2em;
    height: 2em;
    padding: 0.1em;
    border-radius: 100px;
    text-align: center;
    box-shadow: 4px 4px 2px rgba(219, 18, 18, 0.945);
    transition: all 0.4s;
    transform: scale(0.1);

    margin: -1em auto;

    opacity: 0;
    color: white;
    cursor: pointer;

    position: relative;
}

.anim_button_open {
    transform: scale(1);
    opacity: 1;
}

.formation a:visited {
    color: white !important;
}

.open a:hover {
    color: white !important;
}

.scroll-formation {
    scrollbar-width: thin;

    @media (max-width: 720px) {
        overflow-y: auto;
        overflow-x: hidden;
        height: 32em;
        // .formation_container_image {
        //     margin: 2em 3em;
        //     cursor: pointer;
        // }
    }
    @media (min-width: 720px) {
        height: 25em;
        overflow-x: auto;
        overflow-y: hidden;
    }
    // .formation_container_image {
    //     margin: 2em 3em;
    //     cursor: pointer;
    // }
}

.miniature_formation {
    min-width: 40%;

    h3 {
        font-size: 2.6em;
        font-weight: bold;
    }
}

.anim_open_infos_formation {
    opacity: 1;
    max-height: 40em;
    overflow-y: auto;
    scrollbar-width: thin;
}

.anim_close_infos_formation {
    opacity: 0;
    max-height: 0em;
    display: none;
}

span.close {
    font-size: 4em;
    text-shadow: 0px 4px 2px #cb1e1e;
}

div.close {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-item {
    margin-bottom: 1em;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/assets/img/arrow.png") !important;
    transform: rotate(-90deg);
}

.accordion-button.collapsed::after {
    background-image: url("/assets/img/arrow.png") !important;
    transform: rotate(90deg);
}

@media (max-width: 750px) {
    .formation {
        width: 100%;
    }

    section.bleu {
        padding: 0;
    }

    .formation_container_image {
        margin: 1em;
    }

    .formation_container_image h3 {
        font-size: 1rem !important;
    }

    .formation_container_image .date {
        // display: none !important;
    }
}
@media (min-width: 750px) {
    .formation_container_image {
        margin: 1em;
        border-radius: 20px;
        cursor: pointer;

        min-width: 30em !important;
    }
    .miniature_formation {
        &:hover {
            transform: translate(-0.7em, -0.7em);
            box-shadow: 10px 10px 0 black;
        }
    }
    .miniature_grande {
        min-width: 60% !important;
        max-height: 100%;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}
